@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: black;
  color: white; 
}

h1, h2, h3, p {
  color: white; 
}

a {
  color: orange; 
}

button {
  background-color: orange; 
  color: white; 
}

section {
  background-color: black; 
  color: white; 
}



