@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: black;
  color: white; 
}

h1, h2, h3, p {
  color: white; 
}

a {
  color: orange; 
}

button {
  background-color: orange; 
  color: white; 
}

section {
  background-color: black; 
  color: white; 
}


.modal-container::-webkit-scrollbar {
  display: none;
}
.modal-container {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}





