@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: black;
  color: white; /* Makes the text white */
}

h1, h2, h3, p {
  color: white; /* Ensures all text is white */
}

a {
  color: orange; /* Keeps the links in orange */
}

button {
  background-color: orange; /* Orange background for buttons */
  color: white; /* White text on buttons */
}

section {
  background-color: black; /* Keep sections with black background */
  color: white; /* Text in white for each section */
}


